h1{
  font-family: raleway;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 70px;
}

.starth1{
  width: 80%;
  margin: 0;
}

#main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Croquetas{
  display: block;
  border-radius: 27px;
  padding: 20px;
  height: 200px;
  width: 80%;
  object-fit: cover;

}

.threeitems{
display: flex;
flex-direction: row;
margin-top: 20px;
  width: 80%;
}

.item{
  height: 16px;
  margin-right: 10px;
}

.imgtxt{
  background-color: rgb(239, 239, 239);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 20px;
}

.line {
  height: 2px; 
  background-color: rgb(239, 239, 239);
  width: 80%;
  margin-top: 80px;
}
