html {
    scroll-behavior: smooth;
    font-family: raleway;
    font-size: 16px;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
}

.content {
    min-height: 100vh;

    position: relative;
    overflow-x: hidden;
}

.aot {
    display: flex;
    justify-content: center;
    height: 75px;
    box-shadow: 0 2px 10px 0 rgb(0, 0, 0, 0.2);
}

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

header a {
    display: flex;
    align-items: center;
}

header button {
    display: none;
}

.logo {
    width: 214px;
    height: 64px;
    object-fit: cover;
}

.menu {
    display: flex;
    margin-top: 40px;
    gap: 24px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.menu a:hover {
    color: green;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.resp_menu_box {
    display: none;
}

@media(max-width: 820px) {

    header button {
        display: block;
        height: 28px;
        width: 120px;
        background-color: green;
        color: white;
        border-width: 0px;
        cursor: pointer;
    }

    .menu {
        display: none;
    }

    .resp_menu_box {
        background-color: #E3E3E3;
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 180px;
        /* height: 117px; */

        position: absolute;
        top: 75px;
        right: 0;

        transition: all 250ms ease-in-out;
        padding-bottom: 8px;
    }

    


    .resp_menu_box button {
        width: 100%;
        margin-bottom: 8px;
    }

    .resp_menu_box a {
        font-family: raleway;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        color: black;
        padding-bottom: 4px;
    }

    .resp_menu_box a:hover {
        color: green;
        text-decoration: underline;
        text-decoration-thickness: 4px;
    }


    .resp_menu_closed {
        transform: translateX(100%);
    }
}

@media(max-width: 540px) {

    header .logo {
        content: url(../img/logo_small.png);
        max-width: 42px;
        max-height: 42px;
        object-fit: contain;
    }
}